---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
import RelatedArticles from "../components/RelatedArticles.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
    <Header />
    <div class="container">
        <Main />
        <RelatedArticles />
    </div>
    <Footer />
</Layout>

<style>
    .container {
        max-width: 1100px;
        
        display: flex;
        flex-direction: column;
        gap: 3.4rem;
    }
    
    @media screen and (min-width: 900px) {
        .container {
            margin: 4rem auto;
            padding: 0 2rem;
            flex-direction: row;
        }
    }
</style>


