<footer>
    <p>© 2023 - Rocketseat Explorer</p>
</footer>

<style>
    footer {
        background-color: var(--color-base-sky-600);
        padding: 1.6rem;
    }

    p {
        color: var(--color-base-white);
        text-align: center;
        font-size: 1.3rem;
        font-weight: 600;
        line-height: normal;
    }
</style>