<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<meta charset="UTF-8" />
		<meta name="description" content="Este é um Blog de Gatos" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog de Gatos</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: "Mulish", sans-serif;
	}

	:root {
		--color-base-white: hsla(0, 0%, 100%, 1);
		--color-base-sky-600: hsla(195, 46%, 40%, 1);
		--color-base-sky-700: hsl(195, 91%, 25%);
		--color-base-grey-800: hsla(240, 6%, 13%, 1);
		--color-base-grey-900: hsla(240, 6%, 8%, 1);

		font-size: 62.5%;

	}

	
</style>
